<div class="mt-3">
    <h4>Our Management</h4>
    <p>
        Sarvajanik Education Society, a premier educational institution established in Surat in 1912
        with the management of just one secondary school, then known as the English school
        (Dhingali School – Doll’s School) is today 100 years old and has under its care 35 institutions
        imparting education from pre-school level to post graduate level covering variety of
        disciplines including engineering and management education. Society also has under its
        umbrella two research institutions – one for Languages and social sciences and one for
        Environmental Engineering.
    </p>
    <p>
        Right from its inception the Sarvajanik Education Society has survived and thrived, solely on
        the charity of philanthropic institutions and individuals. Its objective as incorporated in its
        constitution is to spread education among people at affordable cost. Thus, Sarvajanik Education
        Society is one of those rare institutions, which keep profit motive out of their operative fields
        and activities. Even then, it has made constant and steady progress. Thanks to the wholehearted
        support of its well-wishers of this region, in various parts of India and abroad. A very large
        number of its past students have settled abroad and in acknowledgement of the education they
        received at Sarvajanik Education Society, continue to extend their help, in every respect.
    </p>
    <p>
        The Sarvajanik Education Society has always enjoyed high reputation, public faith for its noble
        traditions of honest, transparent and democratic management. It has earned people’s trust that every
        farthing given to it is well used for the benefit of people and the future generation.
    </p>
    <h4>Our Institute</h4>
    <p>
        This college is established & developed with the donations from many organizations, one of them
        is Shree Ramkrishna Charitable Trust. By providing solid academic foundation, the rigorous
        curriculum, it prepares you to successfully complete your programme. You will study in State of the
        art laboratories and lecture rooms. You will also get personalized academic support and guidance of
        caring faculty for teaching & learning. The college will remain open from 09:00 a.m. to 06:00 p.m.
    </p>
    <h4>Our affiliation</h4>
    <p>
        The institute is affiliated to Veer Narmad South Gujarat University since 1999 for all the courses
        time to time till today. It has already been accredited by National Assessment and Accreditation
        Council (NAAC) as B Grade with 2.67 CGPA and applying for re-accreditation by NAAC.
    </p>

</div>