<h1 class="text-center text-success">How to install Database?</h1>
<div class="card">
    <div class="card-body mt-3">
        <h4 class="card-title">1). Package Manager Console ?</h4>
        <p class="card-text">Package Manager console used to Install Nuget package and Migration Related Command.</p>
        <p class="card-text"><b>Tools -> Nuget Package Manager -> Package Manager Console. </b></p>
    </div>
    <img class="card-img-bottom" src="~/images/Install1.jpg" alt="Card image cap">
</div>
<div class="card">
    <div class="card-body mt-3">
        <h4 class="card-title">2). Migrate Database.</h4>
        <p class="card-text">After Opening Package Manager Console Run <b>Update-Database</b> Command to migrating the database. Run the application</p>
    </div>
    <img class="card-img-bottom" src="~/images/Install2.jpg" alt="Card image cap">
</div>